exportPattern("^[[:alpha:]]+")
 import(survival)
 import(rms)
 import(parallel)
 import(foreach)
 import(doParallel)
 import(flextable)
 import(plotROC)
 import(RISCA)
 import(thregI)
 importFrom("stats", "approxfun", "binomial", "glm", "predict", "qnorm",
             "sd", "splinefun", "na.omit", "quantile")
 importFrom("graphics", "par")
 importFrom("icenReg", "ic_sp","getSCurves")
export(explore)
export(explore.plot)
export(sMSROC)
export(probs.pred)
export(evol.auc)
export(sMSROC.plot)
export(conf.int.print)
